# tests
tests
.pytest_cache/
.ruff_cache/
junit-results.xml
coverage.xml

# OS files
.DS_Store
Thumbs.db

# documentation
howto*

# images
*sif

#
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.installed.cfg
build/
dist/
downloads/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST

# other
notebooks
chats
